.register-container {
  width: 450px;
  height: 480px;
  border-style: solid;
  border-width: 4px;
  border-radius: 15px;
  border-color: aqua;
  margin: 20px auto;
  box-shadow: 0 0 30px whitesmoke;
}
.register-username {
  position: relative;
  border-radius: 15px;
  height: 30px;
  width: 230px;
  left: 24%;
  top: 90px;
}
.register-password {
  position: relative;
  border-radius: 15px;
  height: 30px;
  width: 230px;
  left: 24%;
  top: 120px;
}
.register-rePassword {
  position: relative;
  border-radius: 15px;
  height: 30px;
  width: 230px;
  left: 24%;
  top: 130px;
}
.register-submit-button {
  position: relative;
  right: 21%;
  top: 240px;
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  background-color: transparent;
  color: white;
  font-size: 40px;
  cursor: pointer;
}
.register-submit-button:hover {
  box-shadow: 0 0 50px whitesmoke;
}
